torch~=2.0.0
torchvision~=0.15.1
torchaudio~=2.0.1
pytorch-lightning~=2.0.1
tensorboard~=2.12.1
scikit-learn~=1.2.2
matplotlib~=3.7.1
pandas~=2.0.0
numpy~=1.24.2
torchmetrics~=0.11.4
tqdm~=4.65.0
tb_parse~=0.0.7
soundfile~=0.12.1
